* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    font-size: 80px;
    background-size: cover;
}

.page1 {
    background-image: url('./images/iceland.jpg');
    background-size: cover;
}

.page2 {
    background-image: url('./images/montain.jpg');
    background-size: cover;
}

.page3 {
    background-image: url('./images/pescador.jpg');
    background-size: cover;
}

.page4 {
    background-image: url('./images/sunrise_barco.jpg');
    background-size: cover;
}

.page5 {
    background-image: url('./images/sunsei_river.jpg');
}

.page6 {
    background-image: url('./images/sunset.jpg');
}

img{
    background-size: cover;
    position:relative;
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
    align-content: center;
    justify-content: center;
}

.interface {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
} 


section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: #fff;

}